<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        const user_image        = `<img src="{{ url_for('static', filename='user.png') }}" alt="User Avatar">`;
        const gpt_image         = `<img src="{{ url_for('static', filename='gpt.png') }}" alt="GPT Avatar">`;
    </script>
</head>
<body>
    <div class="box" id="messages">
    </div>
    <div class="user-input">
        <div class="box input-box">
            <textarea id="message-input" placeholder="Ask a question" cols="30" rows="10" style="white-space: pre-wrap;"></textarea>
            <div id="send-button">
                send
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>